<h2>Detalle del empleado: {{empleado?.id}}</h2>
<div>
    <div>
        <label><b>Nombres: </b></label><label> {{empleado?.nombre}}</label>
    </div>
    <div>
        <label><b>Apellidos: </b></label><label> {{empleado?.apellidos}}</label>
    </div>
    <div>
        <label><b>Fecha Inicio: </b></label><label> {{empleado?.fechaInicio}}</label>
    </div>
    <div>
        <label><b>Fecha Fin: </b></label><label> {{empleado?.fechaFin}}</label>
    </div>
    <div>
        <label><b>Horas laboradas: </b></label><label> {{empleado?.horas}}</label>
    </div>
</div>